:root{
    --fonte-principal: "Inter", sans-serif;
    --cinza: rgba(102, 112, 133, 1);
    --cinza-escuro: rgba(58, 64, 78, 1);
    --vermelho: rgba(142, 36, 36, 1);
    --branco: rgba(255, 255, 255, 1);
    --preto: rgba(16, 24, 40, 1);
    --cinza-claro: rgba(234, 236, 240, 1);
}

body {
    width: 100%;
    height: 100vh;
  }  

/*Cabeçalho*/

.cabecalho{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    font-family: var(--fonte-principal);
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

.cabecalho__logo-marca{
    display: flex;
    align-items: center;
    gap: 8px;
}

.cabecalho__titulo{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--cinza-escuro);
}

.cabecalho__navegacao{
    display: flex;
    gap: 40px;
}

.cabecalho__navegacao-topico{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--cinza);
}

.cabecalho__login{
    display: flex;
    gap: 12px;
}

.cabecalho__login-botoes {
    height: 44px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    border: transparent;
    font-family: var(--fonte-principal);
}

.cabecalho__entrar{
    width: 83px;
    background-color: transparent;
    color: var(--cinza);
}

.cabecalho__cadastro{
    width: 112px;
    border: var(--vermelho);
    background-color: var(--vermelho);
    color: var(--branco);
}

/*Seção 1*/

.secao-1__conteudo{
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-family: var(--fonte-principal);
    align-items: center;
}

.secao-1__span{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--vermelho);
}

.secao-1__titulo{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: var(--preto);
    padding-right: 32px;
    padding-left: 32px;
}

.secao-1__paragrafo{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 791px;
    color: var(--cinza);
    padding-top: 12px;
}

.metricas {
    font-family: var(--fonte-principal);
    height: 288px;
}

.metricas-conteudo{
    display: flex;
    gap: 32px;
    justify-content: center;
}

.metricas-div {
    display: flex;
    width: 280px;
    flex-direction: column;
    gap: 12px;
}

.metricas-titulo {
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--vermelho);
}

.metricas-texto {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.metricas-subtitulo {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--preto);
}

.metricas-paragrafo {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza);
}

.vagas {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
    font-family: var(--fonte-principal);
    gap: 64px;
}

.talentos-conteudo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-right: 32px;
    padding-left: 32px;
    gap: 48px;
}

.talentos-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.talentos-titulos{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center
}

.talentos-span{
    display: flex;
    background-color: rgba(142, 36, 36, 0.05);
    color: var(--vermelho);
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    border-radius: 16px;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.talentos-titulo {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.talentos-suporte{
    font-weight: 400;
    line-height: 30px;
    font-size: 20px;
    color: var(--cinza);
}

.abertas{
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.abertas-design {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.abertas-tema {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.abertas-titulo {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.abertas-informacoes {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--cinza);
}

.abertas-desenvolvimento {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.abertas-box{
    display: flex;
    flex-direction: column;
    width: 768px;
    gap: 24px;
    padding: 24px;
    padding-bottom: 28px;
    border: 1px solid var(--cinza-claro);
    border-radius: 16px;
}

.abertas-informacoes {
    display: flex;
    gap: 24px;
}